{% extends "layout.html" %}
{% block body %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Edit Profile</h2>
          <ol>
            <li>{{card['name']}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form role="form" action="/edit/{{card['S_no']}}" method="POST" class="php-email-form"> 
              {{form.hidden_tag()}} 
              <div class="form-group mt-3">
                {% set value = card['name'] %}
                {% if form.name.errors %}
                  {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Name",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.name(class="form-control", placeholder="Name", value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['year'] %}
                {% if form.year.errors %}
                  {{ form.year(class="form-control form-control-lg is-invalid", placeholder="Year",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.year.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.year(class="form-control", placeholder="Year",value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['vertical'] %}
                {% if form.vertical.errors %}
                  {{ form.vertical(class="form-control form-control-lg is-invalid", placeholder="Vertical",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.vertical.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.vertical(class="form-control", placeholder="Vertical",value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['instagramProfile'] %}
                {% if form.instagramProfile.errors %}
                  {{ form.instagramProfile(class="form-control form-control-lg is-invalid", placeholder="Instagram Profile",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.instagramProfile.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.instagramProfile(class="form-control", placeholder="Instagram Profile",value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['linkedinProfile'] %}
                {% if form.linkedinProfile.errors %}
                  {{ form.linkedinProfile(class="form-control form-control-lg is-invalid", placeholder="LinkedIn Profile",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.linkedinProfile.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.linkedinProfile(class="form-control", placeholder="LinkedIn Profile",value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['facebookProfile'] %}
                {% if form.facebookProfile.errors %}
                  {{ form.facebookProfile(class="form-control form-control-lg is-invalid", placeholder="Facebook Profile",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.facebookProfile.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.facebookProfile(class="form-control", placeholder="Facebook Profile",value=value)}}
                {% endif %}
              </div>
              <div class="form-group mt-3">
                {% set value = card['photo'] %}
                {% if form.photo.errors %}
                  {{ form.photo(class="form-control form-control-lg is-invalid", placeholder="Photo",value=value) }}
                  <div class="invalid-feedback">
                      {% for error in form.photo.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{form.photo(class="form-control", placeholder="Photo",value=value)}}
                {% endif %}
              </div>
                
              
              <div class="text-center">{{form.submit(class="btn btn-secondary", placeholder="Submit")}}</div>
              
            </form>

            
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}