{% extends "layout.html" %}
{% block body %}
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right tm-contact-main"> <!-- Content -->
                    <section class="tm-content tm-contact">
                        <h1 class="">Register</h1>
                        <hr class="mb-4">
                        <!-- <p class="mb-85">Etiam et egestas arcu. Fusce congue quis elit vitae commodo. Cras neque mauris, vehicula in ipsum sit amet, faucibus aliquam arcu.</p> -->
                        <form role="form" action="/register" method="POST"> 
                          {{form.hidden_tag()}} 
                          <div class="form-group mt-3">
                            {% if form.name.errors %}
                              {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Your Name") }}
                              <div class="invalid-feedback">
                                  {% for error in form.name.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.name(class="form-control", placeholder="Your Name")}}
                            {% endif %}
                          </div>  
                          <div class="form-group mt-3">
                            
                            {% if form.email.errors %}
                              {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Your Email") }}
                              <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.email(class="form-control", placeholder="Your Email")}}
                            {% endif %}
                          </div>
                          <div class="form-group mt-3">
                            {% if form.phone.errors %}
                              {{ form.phone(class="form-control form-control-lg is-invalid", placeholder="Phone") }}
                              <div class="invalid-feedback">
                                  {% for error in form.phone.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.phone(class="form-control", placeholder="Phone")}}
                            {% endif %}
                          </div>
                          <div class="form-group mt-3">
                            {% if form.college.errors %}
                              {{ form.college(class="form-control form-control-lg is-invalid", placeholder="College") }}
                              <div class="invalid-feedback">
                                  {% for error in form.college.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.college(class="form-control", placeholder="College")}}
                            {% endif %}
                          </div>
                          <div class="form-group mt-3">
                            {% if form.city.errors %}
                              {{ form.city(class="form-control form-control-lg is-invalid", placeholder="City") }}
                              <div class="invalid-feedback">
                                  {% for error in form.city.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.city(class="form-control", placeholder="City")}}
                            {% endif %}
                          </div>
                          <div class="form-group mt-3">
                            {% if form.state.errors %}
                              {{ form.state(class="form-control form-control-lg is-invalid", placeholder="State") }}
                              <div class="invalid-feedback">
                                  {% for error in form.state.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.state(class="form-control", placeholder="State")}}
                            {% endif %}
                          </div>
                          <div class="form-group mt-3">
                            {% if form.no_of_members.errors %}
                              {{ form.no_of_members(class="form-control form-control-lg is-invalid", placeholder="Number of Members") }}
                              <div class="invalid-feedback">
                                  {% for error in form.no_of_members.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                            {% else %}
                              {{form.no_of_members(class="form-control", placeholder="Number of Members")}}
                            {% endif %}
                          </div>
                          <div class="text-center">{{form.submit(class="btn btn-secondary", placeholder="Register")}}</div>
                          
                        </form>
                    </section>
                </main>
            </div>
        </div>        

{% endblock %}