{% extends "layout.html" %}
{% block body %}
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src={{url_for('static', filename="img/339169289_196017959813466_1124839185244325881_n.jpg")}} alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Abhijit Chawda</h2>
                                <p>Mr. Abhijit Chavda in person only at TEDxMANITBhopal and get to know him.He is a renowned physicist, historian, and podcaster.With his knowledge in geopolitics, quantum gravity, and dark matter, Abhijit Chavda has enthralled audiences worldwide and sparked people's imaginations.</p>
                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">GBS Sindhu</h2>
                                <p>Meet Mr. GBS Sidhu, a former R&AW and IPS officer, only at TEDxMANITBhopal. He has written two books and has received numerous honors, including the Prime Minister's Baton and the Home Minister's revolver.</p>
                            </div> 
                            <img src={{url_for('static', filename="img/339488214_961421851683086_8433811827835762631_n.jpg")}} alt="Image" class="tm-service-img-r">
                        </div>
                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <img src={{url_for('static', filename="img/339660781_249864524156644_6964844411166419570_n.jpg")}} alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Aakansh Chaturvedi</h2>
                                <p>Leading this journey is Mr. Aakansh Chaturvedi, the quintessential innovator, who achieved 70% sustainability in bamboo headphones called 'Bambass'.Also a miniature sculpture artist, he even holds a record in making India's smallest sculpture.</p>
                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Megha Parmar</h2>
                                <p>Meet Ms. Megha Parmar, the first female mountaineer of Madhya Pradesh to climb Mount Everest and the first woman in the world to have scaled the summits of 4 continents. Not only does she love the heights, but her love also extends to the depths of the oceans. Megha is a trained diver with a 147-foot world record for technical scuba diving.
</p>
                            </div> 
                            <img src={{url_for('static', filename="img/340002983_135963605957975_463850776047814100_n.jpg")}} alt="Image" class="tm-service-img-r">
                        </div>
                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <img src={{url_for('static', filename="img/340155125_128253816790728_8224687382082242027_n.jpg")}} alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Rohit Soni</h2>
                                <p>Demystifying the complexities of the Business world and empowering India’s entrepreneurs - Introducing Mr Rohit Soni - TEDx speaker, author, and a business scaling genius.</p>
                                
                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Bijay Nair</h2>
                                <p>A paragon of patriotism whose unquenchable desire to serve his nation and defend its honor has earned him remarkable accolades, including the highly coveted Operation Vijay War Medal and Operation Prakaram Medal - meet Lt. Cdr. Bijay Nair - ex-Indian Naval Officer, anchor, poet, talented author, motivational speaker, blogger, and ultramarathoner.
</p>
                            </div> 
                            <img src={{url_for('static', filename="img/340316585_782221153341912_1888922324434572371_n.jpg")}} alt="Image" class="tm-service-img-r">
                        </div>                     
                    </section>
                </main>
            </div>
        </div>        

{% endblock %}